name: Node.js CI

on:
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    
    env:
      NODE_ENV: 'test'
      TZ: 'UTC'
      # Set environment variable from secret
      DB_USER: ${{ secrets.DB_USER }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PORT: ${{ secrets.DB_PORT }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      # Setting an environment variable with the value of a configuration variable
      BASE_URL: ${{ vars.BASE_URL }}
      PORT: ${{ vars.PORT }}
      DOC_USER: ${{ vars.DOC_USER }}
      DOC_URL: ${{ vars.DOC_URL }}
      DOC_PASS: ${{ vars.DOC_PASS }}
      AUTH_SERVER_URL: ${{ vars.AUTH_SERVER_URL }}

    runs-on: ubuntu-latest  

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Run tests on GitHub
      run: npm run github-test
